* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.navbar * {
  color: white !important;
}

.navbar {
  position: sticky;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}

.brand-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.brand-name {
  position: relative;
  left: 0;
}

.div1 {
  display: flex;
  background-color: black;
  height: auto;
  position: relative;
  width: 100%;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 32px;
}

.div2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-shrink: 1;
}

.div3 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-logo {
  max-width: 70%;
  height: auto;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff !important;
  width: 100%;
  font-weight: bold;
}

.heading-title {
  font-size: 1.5rem !important;
  font-weight: 900;
}

@media (min-width: 64rem) {
  .heading-title {
    font-size: 2.5rem !important;
  }
}

.brand {
  margin-top: 18px;
  font-size: 16px;
  color: white;
}

@media (min-width: 64rem) {
  .brand {
    font-size: 24px;
  }
}

.buttons {
  display: flex;
  gap: 15px;
  padding: 20px;
}

.top-buttons {
  border-radius: 40px;
  font-size: .875rem;
  font-weight: bolder;
  border: .125rem solid #d4af37;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  height: 40px;
  min-width: 134px;
}

.top-buttons:hover {
  background-color: #d4af37;
  color: black;
}

.cards {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 8px;
  margin: 30px;
}

.card-title {
  font-weight: bolder;
}

.card {
  padding: 2rem;
  border-radius: 10px;
  border: none;
  text-align: center;
  color: white;
  background-color: rgba(77, 77, 77, 0.274);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
  max-height: 400px;
}

@media (min-width: 48rem) {
  .cards {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    align-items: stretch;
    flex-wrap: nowrap;
  }
}

.portfolio-background {
  background-image: url('./src/Components/GLOSS.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portfolio {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.925);
  flex-direction: column;
  height: 31.25rem;
  width: 100%;
}

.portfolio-title {
  font-weight: 900;
  color: white;
}

.portfolio-buttons {
  margin-top: 1.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .9375rem;
}

.portfolio-button {
  border: .125rem solid #d4af37;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1.875rem;
  color: white;
  font-size: .875rem;
  font-weight: bolder;
  height: 1.875rem;
  min-width: 6.25rem;
}

.portfolio-button:hover {
  background-color: #d4af37;
  color: rgb(0, 0, 0);
}

.About-expe {
  height: auto;
  width: 100%;
  max-width: 43.75rem;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.workspace-section {
  margin-top: 1.25rem;
}

.About-Section {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  justify-content: space-around;
  align-items: center;
  gap: .4375rem;
}

.About {
  text-align: center;
  padding: 1.25rem;
  color: white;
  background-color: rgb(0, 0, 0);
  height: auto;
}

.About-title,
.expertise {
  font-weight: 900;
  font-size: 24px;
}

.contact-info {
  font-weight: 900;
}

.contact-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 2.5rem;
  height: 18.75rem;
  justify-content: space-around;
  align-items: center;
}

.CAD_workspace {
  height: 15.625rem;
  width: auto;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.527);
}

.Contact-title {
  font-weight: 900;
  font-size: 1.5rem;
}

.contact-card {
  padding: 2rem;
  border-radius: 10px;
  border: none;
  box-shadow: .625rem .625rem 1.25rem rgba(0, 0, 0, 0.4);
  text-align: center;
  max-height: 500;
  width: 30vw;
}

.contact-cards {
  display: flex;
  gap: 3.125rem;
}

.footer-section {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: #000000e0;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.4);
  height: auto;
  width: 100%;
}

.background-footer {
  background-image: url('./src/Components/Silk.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Rings-page {
  display: flex;
  padding: 30px;
  background-color: #000000;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5.375rem;
}

.ring-card {
  height: 220px;
  width: 250px;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.288);
  border-radius: 20px;
}

.ring-img {
  height: 220px;
  width: 250px;
  border-radius: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1.875rem;
  font-size: 18px;
  gap: 1.25rem;
}

.logo-section {
  margin-left: 30px;
  display: flex;
  gap: 10px;
}

.Logo {
  height: 30px;
  width: 30px;
  filter: contrast(120%) brightness(130%);
}

.brand-title {
  color: #ffdb67 !important;
  font-size: 1.5rem;
}

.page-link,
a {
  text-decoration-line: none;
  background-color: rgba(255, 255, 255, 0) !important;
  color: white !important;
  border: none;
}

.page-link,
Link:focus {
  color: white;
  border: white;
}

.page-link,
Link:active {
  border: white;
}

.page-link,
Link:hover {
  color: white;
}

.arrow-left,
.arrow-right {
  font-size: 18px;
}

.card-icon {
  font-size: 50px;
  font-weight: bolder;
  color: #d4af37;
}

.home-cards:hover {
  transform: translateY(-20px);
  animation: name duration timing-function delay iteration-count direction fill-mode;
  transition: transform 0.5s;
}

.glass-card {
  border: 1px solid rgba(255, 255, 255, 0.219);
  box-shadow: 5px 5px 30px rgba(228, 228, 228, 0.171);
}

.work {
  height: auto;
  padding: 10px;
  justify-content: center;
  color: white;
  background-color: #d4af37b4;
}

.work-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.work-title {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem !important;
}

.working-info,
.working-video {
  height: 400px;
  width: 50%;
  display: inline-block;
}

.work-info {
  text-align: justify;
  width: 100%;
  max-width: 43.75rem;
  padding: 1.875rem;
  font-weight: 500;
  font-size: 16px;
}

.footer-contact-info-section {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: space-around;
  width: 100%;
  padding: 1.875rem;
  font-size: .875rem;
}

@media (min-width: 64rem) {
  .footer-contact-info-section {
    flex-direction: row;
  }
}

.footer-detail-about-brand {
  font-size: .875rem;
}

.sec-1 {
  display: inline-block;
  margin-bottom: 4.375rem;
  height: auto;
}

.copy-right-text {
  margin-top: 1.875rem;
}

.contact-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  /* width: 50vw; */
  height: auto;
}

.email {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.email p {
  margin: 0;
  display: inline;
}

.location {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.location p {
  margin: 0;
  display: inline;
}

.phone {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}

.phone p {
  margin: 0;
  display: inline;
}

.contact-links {
  display: flex;
}

.footer-logo-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  bottom: 0;
  margin-top: 1.25rem;
}

.footer-logo-brand h1 {
  display: inline;
  margin: 0;
}

.footer-logo {
  height: 3.125rem;
  width: 3.125rem;
  filter: brightness(120%) contrast(130%);
}

.footer-links-section {
  background-color: #d3d3d328;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 100%;
  padding: 1.25rem;
}

.contact-us-title {
  font-weight: bolder !important;
  font-size: 1.25rem;
}

.footer-links {
  font-size: 13px;
  padding-left: .625rem;
  font-weight: 500 !important;
  color: rgb(197, 197, 197) !important;
}

.footer-links:hover {
  text-decoration: .125rem underline;
  text-decoration-color: #d4af37;
}

.contact-links {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  font-size: 20px;
}

.privacy-page {
  height: 400px;
  color: white;
  display: flex;
  justify-content: center;
}

.privacy-section {
  margin-top: 30px;
  width: 60%;
}

.form-label,
.register-form-heading {
  color: white;
}

.register-form {
  background-color: rgba(233, 224, 206, 0.24);
  border-radius: .3125rem !important;
  border: .0625rem solid rgba(255, 255, 255, 0.6);
}

.resgister-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 64rem) {
  .resgister-page {
    flex-direction: row;
  }
}

.regitser-button {
  background-color: #ffdb67;
}

.regitser-button:hover {
  color: white;
  border: .0625rem solid #ffdb67;
}

.form-control {
  background-color: #000 !important;
  color: #fff !important;
}

.form-control::placeholder {
  color: #fff !important;
  opacity: 1;
}

.step-process {
  color: white !important;
  /* background-color: rgb(66, 66, 66); */
  display: flex;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  height: 1.875rem;
  width: 1.875rem;
  min-height: 1.875rem;
  min-width: 1.875rem;
  background-color: black;
  color: white;
  font-size: .875rem;
}

.step-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
}

.step-list li {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: .875rem;
  color: #fff;
}

.All-image-Page{
  display: flex;
  justify-content: center;
  align-items: center;
}



.All-Images-Card {
  height: 320px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.966);
  border: 1px solid rgba(255, 255, 255, 0.432);
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.486);
}

.all-Image-img {
  border-radius: 5px;
  height: 300px;
  width: 300px;
}



